<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% with messages = get_flashed_messages() %} 
  {% if messages %}
  <ul>
    {% for msg in messages %}
    <li> {{ msg}} </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <form action="{{ url_for( 'complete' ) }}" method="post">
    이름 : <input type="text" name="username"> <br>
    메일 주소 : <input type="text" name="email"> <br>
    문의 내용 : <textarea name="description" id=""></textarea><input type="submit" value="보내기">
  </form>
</body>
</html>